h1 {
  color: black;
  background: yellow;
  padding: 5px;
  border: solid black 5px;
  font-family: "Helvetica Neue";
  margin-bottom: 25px
}

.className {
  color: blue;
}

/* This is a comment */

#myId {
  color: aqua;
}

