h1 {
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

figcaption {
  font-size: 10px;
  text-align: center;
}

#featured-property p {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  text-align: center;
}

#details {
  display: block;
}

#details div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}